body {
  background-color: lightgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 95%;
  height: 80%;
  margin: auto;
}

header {
  width: 100%;
  height: 90px;
  background-image: linear-gradient(lightblue, blue);
  text-align: center;
  color: white;
}

nav {
  background-color: #92a8d1;
}
nav a {
  transition: 400ms;
}
nav a:hover {
  color: orange;
  font-size: 20px;
}

.horizontal {
  width: 100%;
  height: 50px;
  border: solid 1px black;
  text-align: center;
}

.horizontal ul li {
  display: inline;
  padding: 10%;
}

.vertical {
  width: 20%;
  height: 500px;
  float: left;
}

.vertical ul li {
  list-style-type: none;
}
.vertical li {
  padding: 5% 0% 0% 0%;
}

.imagem {
  width: 50%;
  height: 100%;
  float: left;
  background-color: tomato;
}

.imagem img {
  width: 50%;
  height: 50%;
}

section {
  width: 80%;
  height: 500px;
  float: right;
  background-color: aqua;
  /* overflow: auto; */
}

.texto {
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
}

.texto h1 {
  text-align: center;
  text-shadow: 5px 5px 10px blue;
}

.texto p {
  text-align: justify;
  padding-right: 3%;
}

footer {
  width: 100%;
  height: 50px;
  background: linear-gradient(to top right, rgb(255, 166, 0), rgb(132, 0, 255));
  text-align: center;
  color: white;
  float: left;
}
