* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #f1f1f1;
}

.page-content {
  padding: 1rem;
  background-color: #1abc9c;
}

header {
  padding: 60px;
  text-align: center;
  background-color: #168d75;
  color: white;
}

nav {
  text-align: center;
  background-color: #333;
  width: 100%;
}

nav ul {
  margin: 0rem;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.first-links {
  margin-left: 0.5rem;
  width: 15%;
  display: flex;
  justify-content: space-between;
}
.last-link {
  width: 15%;
  margin-left: 0.5rem;
}
nav li {
  margin-right: 0.5rem;
  width: 100%;
  list-style-type: none;
  height: 2rem;
  padding-top: 0.2rem;
}

nav li a {
  text-decoration: none;
  color: silver;
  font-weight: bolder;
  transition: 400ms;
  font-size: 1.2rem;
}
nav li a:hover {
  color: goldenrod;
  font-size: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-bottom: 1%;
}
.card {
  background-color: rgb(221, 221, 221);
  padding: 3%;
  margin: 3%;
}

.imgFake {
  background: rgb(86, 0, 166);
  background: linear-gradient(
    328deg,
    rgba(86, 0, 166, 1) 0%,
    rgba(74, 255, 244, 1) 48%,
    rgba(9, 126, 2, 1) 100%
  );
  width: 100%;
  padding: 20px;
  color: white;
}

.conteudo {
  flex: 70%;
  background-color: #1abc9c;
}

.direita {
  flex: 30%;
  background-color: #168d75;
  padding: 1%;
}

.footer {
  padding: 20px;
  background-color: #333;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.footer a {
  text-decoration: none;
  color: goldenrod;
}

.footer a:hover {
  color: gold;
  transition: 400ms;
  font-size: 1.2rem;
}

@media all and (max-width: 500px) {
  nav ul {
    flex-direction: column;
    justify-content: center;
  }

  nav ul li {
    width: 100%;
  }
  .first-links {
    flex-wrap: wrap;
    width: 100%;
  }
  .last-link {
    width: 97.8%;
  }

  .container {
    flex-direction: column;
  }
}
